.brands {
  padding-top: 70px;
}

.brands .brands_title {
  padding-bottom: 30px;
}

.brands .brands_main button {
  border: none;
  outline: none;
  color: #fff;
  margin-bottom: 20px;
}

.brands .brands_main .brands_main_inner {
  background-color: #873598;
  border-radius: 15px;
  height: 100px;
  width: 160px;
}

.brands .brands_main .brands_main_inner h5 {
  line-height: 90px;
}
